@keyframes size_up {
    0%   {width:0px; height:0px;}
    100%  {width:100%; height:100%;}
}
@keyframes wave {
    from { transform: rotate(0deg);}
    from { transform: rotate(-360deg);}
}
@keyframes sidebar{
    0%{left:-20%}
    100%{left:0;}
}
@keyframes sidebar_in{
    0%{left:0;}
    100%{left:-20%;}
}
@keyframes hover_ani{
    0%{text-decoration: none;font-size: 30px;line-height: 30px;}
    100%{text-decoration: underline;font-size: 40px;line-height: 40px;}
}
@keyframes contents_big {
    0%{width:70%; left:30%;}
    100%{width:90%; left:10%;}
}
@keyframes contents_small {
    0%{width:90%; left:10%;}
    100%{width:70%; left:30%;}
}
@keyframes title_ani {
    0%{top:-30%;}
    100%{top:-1%;visibility:inherit;}
}
@keyframes img1_ani {
    0%{width:0;}
    100%{width:30%;}
}
@keyframes img2_ani {
    0%{width:0;height: 0;}
    100%{width:30%;height: 40%;}
}
@keyframes img3_ani {
    0%{width:0;height: 0;}
    100%{width:30%;height: 30%;}
}
@keyframes background_color {
    0%{background-color: #815854;}
    100%{background-color: #F9EBDE;}
}
@font-face {
    font-family: 'SDMiSaeng';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDMiSaeng.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html{
    cursor:url(../img/pointer1.png) 32 32, auto;
}
body{
    cursor:url(../img/pointer1.png) 32 32, auto;
    font-family: 'SDMiSaeng';
    background-color: #815854;
    margin:0;
    animation-delay: 1.5s;
    animation-name: background_color;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.background{
    cursor:url(../img/pointer1.png) 32 32, auto;
    z-index: 1;
    position: absolute;
    animation-name: size_up;
    animation-duration: 2s;
    background-color: #F9EBDE;
    height: 100%;
    width:100%;
}
h3{
    cursor:url(../img/pointer1.png) 32 32, auto;
    z-index: 11;
    width:10%;
    position: absolute;;
    font-size: 20px;
    color:#815854;
}
#login{
    cursor:url(../img/pointer1.png) 32 32, auto;
    right:6em;
    font-size: 23px;
}
#register{
    cursor:url(../img/pointer1.png) 32 32, auto;
    right:3em;
    font-size: 23px
}
h3:hover{
    cursor:url(../img/pointer1.png) 32 32, auto;
    cursor: pointer;
    text-decoration: underline;
}
.wrapper {
    cursor:url(../img/pointer1.png) 32 32, auto;
    width: 100%;
    height: 100%;
    top:0px;
    position: absolute;
    overflow: hidden;
}
.wave {
    cursor:url(../img/pointer3.png) 32 32, auto;
    z-index: 1;
    top:-25%;
    right:20%;
    width: 1100px;
    height:1125px;
    margin:0;
    position: absolute;
    border-radius: 35%;
    background:#815854;
    overflow:hidden;
    transform: rotate(180deg);
    animation: wave 30s infinite linear;
}
#sidebar {
    cursor:url(../img/pointer1.png) 32 32, auto;
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
    position:absolute; 
}
#sidebarbtn{
    cursor:url(../img/pointer1.png) 32 32, auto;
    position:relative;
    left:80%;
    top:1%;
    font-size: 50px;
}
#sidebarbtn:hover{
    cursor:url(../img/pointer1.png) 32 32, auto;
    cursor: pointer; 
}
.sidebar{
    cursor:url(../img/pointer3.png) 32 32, auto;
    float:left;
    position: fixed;
    left:-26vw;
    overflow: hidden;
    width:30%;
    height: 100%;
    margin:0;
    padding:0;
}
#sidebar:checked ~ .sidebar {
    animation-name: sidebar;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.sidebar {
    animation-name: sidebar_in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.index{
    z-index: 2;
    position: absolute;
    top:27%;
    left:5%;
}
.index h2{
    color:#F9EBDE;
    font-size:60px;
    margin-bottom:0;
}
.index a{
    cursor:url(../img/pointer3.png) 32 32, auto;
    text-decoration: none;
    color:#F9EBDE;
    font-size:30px;
    line-height: 30px;
}
.index a:hover{
    animation-name: hover_ani;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
#sidebar:checked ~ .sidebar {
    animation-name: sidebar;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.contents{
    cursor:url(../img/pointer1.png) 32 32, auto;
    position: relative;
    left: 10%;
    width: 90%;
    height: 100%;
    margin: 0;
}
.contents{
    cursor:url(../img/pointer1.png) 32 32, auto;
    animation-name: contents_big;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
#sidebar:checked ~ .contents {
    cursor:url(../img/pointer1.png) 32 32, auto;
    animation-name: contents_small;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.contents #title{
    cursor:url(../img/pointer1.png) 32 32, auto;
    visibility: hidden;
    position: absolute;
    color:#815854;
    border:0;
    margin:5% 0 1% 13%;
    padding: 0;
    width:80%;
    height: 10px;
    border-radius: 5px;
    font-size: 70px;;
    animation-delay: 1s;
    animation-name: title_ani;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.contents hr{
    cursor:url(../img/pointer1.png) 32 32, auto;
    position: relative;
    background-color:#815854;
    border:0;
    margin:7.5% 0 0 10%;
    padding: 0;
    width:80%;
    height: 10px;
    border-radius: 5px;
}
.icon{
    cursor:url(../img/pointer3.png) 32 32, auto;
    width: 30px;
    height:30px;
    background-color: #815854;
    border-radius: 30%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left:85%;
    bottom:-11%;
}
.ins_sq{
    cursor:url(../img/pointer3.png) 32 32, auto;
    position: absolute;
    width: 22px;
    height: 22px;
    background-color:#F9EBDE;
    border-radius: 30%;
}
.ins_circle1{
    cursor:url(../img/pointer3.png) 32 32, auto;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color:#815854;
    border-radius: 50%;
}
.ins_circle2{
    cursor:url(../img/pointer3.png) 32 32, auto;
    position: absolute;
    width: 8px;
    height: 8px;
    background-color:#F9EBDE;
    border-radius: 50%;
}
.ins_circle3{
    cursor:url(../img/pointer3.png) 32 32, auto;
    position: relative;
    left:24%;
    bottom:24%;
    width: 4px;
    height: 4px;
    background-color:#815854;
    border-radius: 50%;
}
#sidebar_btn{
    cursor:url(../img/pointer1.png) 32 32, auto;
    margin-left: 10%;
    margin-top: 8%;
    width:30px;
    height: 30px;
    border-radius: 30%;
    background-color: #815854;
    animation: wave 10s infinite linear;
}
#sidebar_btn:hover{
    cursor:url(../img/pointer1.png) 32 32, auto;
    width:40px;
    height: 40px;
    animation: wave 3s infinite linear;
}
.intro{
    cursor:url(../img/pointer1.png) 32 32, auto;
    margin-top:10%;
    position: absolute;
    width:50%;
    left:11%;
}
.intro div{
    cursor:url(../img/pointer1.png) 32 32, auto;
    color:#815854;
    width:80%;
    font-size: 30px;
}
.intro h2{
    cursor:url(../img/pointer1.png) 32 32, auto;
    color:#815854;
    width:80%;;
    font-size: 300%;
}
.contents #img1{
    cursor:url(../img/pointer1.png) 32 32, auto;
    position: relative;
    left:58%;
    margin-top: 3%;
}
.contents2{
    cursor:url(../img/pointer1.png) 32 32, auto;
    position: relative;
    left: 10%;
    width: 90%;
    height: 100%;
    margin: 0;
}
.contents2{
    cursor:url(../img/pointer1.png) 32 32, auto;
    animation-name: contents_big;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
#sidebar:checked ~ .contents2{
    cursor:url(../img/pointer1.png) 32 32, auto;
    animation-name: contents_small;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.contents2 #bar1{
    cursor:url(../img/pointer1.png) 32 32, auto;
    position: relative;
    background-color:#815854;
    border:0;
    padding: 0;
    width:20%;
    height: 10px;
    border-radius: 5px;
    margin-left: 10%;
    top:-15%;
}
.contents2 #title{
    cursor:url(../img/pointer1.png) 32 32, auto;
    position: relative;
    color:#815854;
    width:80%;;
    font-size: 300%;
    margin-left: 10%;
    top:-10%;
    left:5%;
}
#img2{
    cursor:url(../img/pointer1.png) 32 32, auto;
    position: relative;
    left:10%;
    margin-top: -3%;
}
#img3{
    cursor:url(../img/pointer1.png) 32 32, auto;
    position: relative;
    left:10%;
    margin-top: -10%;
}
.link1{
    cursor:url(../img/pointer1.png) 32 32, auto;
    position: relative;
    left:45%;
    top:-40%;
    width:50%;
}
.link1 h2{
    cursor:url(../img/pointer1.png) 32 32, auto;
    left:30%;
    color:#815854;
    width:80%;;
    font-size: 200%;
}
.link1 div{
    cursor:url(../img/pointer1.png) 32 32, auto;
    color:#815854;
    width:80%;;
    font-size: 150%;
}
.link2{
    cursor:url(../img/pointer1.png) 32 32, auto;
    position: relative;
    left:45%;
    top:-40%;
    width:50%;
}
.link2 h2{
    cursor:url(../img/pointer1.png) 32 32, auto;
    margin-top: 13%;
    left:30%;
    color:#815854;
    width:80%;;
    font-size: 200%;
}
.link2 div{
    cursor:url(../img/pointer1.png) 32 32, auto;
    color:#815854;
    width:80%;;
    font-size: 150%;
}
.contents3 #title{
    cursor:url(../img/pointer1.png) 32 32, auto;
    visibility: hidden;
    position: absolute;
    color:#815854;
    border:0;
    margin:1% 0 1% 13%;
    padding: 0;
    width:80%;
    height: 10px;
    border-radius: 5px;
    font-size: 55px;;
    animation-delay: 1s;
    animation-name: title_ani;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.contents3 hr{
    cursor:url(../img/pointer1.png) 32 32, auto;
    position: relative;
    background-color:#815854;
    border:0;
    margin:10% 0 0 10%;
    padding: 0;
    width:80%;
    height: 10px;
    border-radius: 5px;
}
.contents3{
    cursor:url(../img/pointer1.png) 32 32, auto;
    top:-20%;
    position: relative;
    left: 10%;
    width: 90%;
    height: 10%;
    margin: 0;
}
.contents3{
    cursor:url(../img/pointer1.png) 32 32, auto;
    animation-name: contents_big;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
#sidebar:checked ~ .contents3 {
    cursor:url(../img/pointer1.png) 32 32, auto;
    animation-name: contents_small;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
#img1{
    cursor:url(../img/pointer1.png) 32 32, auto;
    width: 0;
}
#img1{
    cursor:url(../img/pointer1.png) 32 32, auto;
    animation-delay: 1s;
    animation-name: img1_ani;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#img2{
    cursor:url(../img/pointer1.png) 32 32, auto;
    width: 0;
}
#img2{
    cursor:url(../img/pointer1.png) 32 32, auto;
    animation-delay: 1s;
    animation-name: img2_ani;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#img3{
    cursor:url(../img/pointer1.png) 32 32, auto;
    width: 0;
}
#img3{
    cursor:url(../img/pointer1.png) 32 32, auto;
    animation-delay: 1s;
    animation-name: img3_ani;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}