@font-face {
    font-family : 'SDMiSaeng';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDMiSaeng.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'SDMiSaeng';
    background-color: #F9EBDE;
}
form{
    position: relative;
    top:20vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
form legend {
    font-size: 18px;
    color: #815854;
    font-weight: 600;
}
legend{
}
fieldset{
    display:flex;
    justify-content: center;
    align-items: center;
    width:80%;
    height:80%;
    color:#815854;
    border-color:#815854;
}
li{
    position: relative;
    left:1em;
}
input{
    position: relative;
}
#lo{
    position: relative;
    border:0;
    border-radius: 4px;
    color:#F9EBDE;
    background-color:#815854;
    cursor: pointer;
    height:40px;
    width:50%;
    font-size: 20px;
}
tr{
    height:50px;
}
td{
}
font{
    font-size: 30px;
}